@import "tailwindcss";

h1 {
    font-size: 18px;
    font-weight: 700;
}

.essay-title {
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

a {
    text-decoration: underline;
}

.author {
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

article {
    padding-block: 100px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}