@import "tailwindcss";

h1 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

a {
    text-decoration: underline;
}