@import "tailwindcss";

h1 {
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.essay-title {
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgb(0,0,0,0.5);
}


.author {
    color: gray;
    font-size: 14px;
    text-decoration:none;
    border-bottom:none;
    padding-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    a {
    border-bottom: 1px solid rgb(255,255,255,0.5);
    }

    .author {
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 14px;
}
}

article {
    padding-block: 100px;
    width: 100%;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}